<html>
    <head>
        <style>
            body {
                margin: 10%;
                margin-top: 5%;
            }
        </style>
    </head>
    <body>
        <h2>Gaming List</h2>
        <ul>
            {%for l in links[0]%}
                    <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                    <ol><h3>    {{l[1]}}</h3></ol>
            {%endfor%}
        </ul>
        <hr>
        <h2>Everyday/Home List</h2>
        <ul>
            {%for l in links[1]%}
                    <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                    <ol><h3>    {{l[1]}}</h3></ol>
            {%endfor%}
        </ul>
        <hr>
        <h2>Office List</h2>
        <ul>
            {%for l in links[2]%}
                    <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                    <ol><h3>    {{l[1]}}</h3></ol>
            {%endfor%}
        </ul>
        <hr>
    </body>
</html> 