<html lang="eu">
    <head>
        <title>LapInf</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">  
    </head>
    <body>
        <link rel="stylesheet" href="syle.css">

<!-- MENU -->



        
        {%for i  in range(0, 3)%}
            <br>
        {%endfor%}
        <h1>Welcome to LapInf</h1>
        {%for i  in range(0, 3)%}
            <br>
        {%endfor%}
        <h2>Gaming List</h2>
        <ul>
            {%for l in links[0]%}
                    <div class="box">
                        <img src="{{l[3]}}">
                        <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                        <ol><h3>    {{l[1]}}</h3></ol>
                        <hr>
                    </div>
            {%endfor%}
        </ul>
        <h2>Everyday/Home List</h2>
        <ul>
            {%for l in links[1]%}
            <div class="box">
                <img src="{{l[3]}}">
                <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                <ol><h3>    {{l[1]}}</h3></ol>
                <hr>
            </div>
            {%endfor%}
        </ul>
        <h2>Office List</h2>
        <ul>
            {%for l in links[2]%}
            <div class="box">
                <img src="{{l[3]}}">
                <li><a href="{{l[2]}}" target="_blank">{{l[0]}}></a></li>
                <ol><h3>    {{l[1]}}</h3></ol>
                <hr>
            </div>
            {%endfor%}
    </body>
</html>