<!DOCTYPE html>
<html lang="bg-BG">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>LapInf</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
   <!-- <article> -->
      <!-- <h2>Gaming List</h2>
      <ul>
          {%for l in links[0]%}
                  <img src="{{l[3]}}">
                  <div><li><a href="{{l[2]}}" target="_blank">{{l[0]}}</a></li></div>
                  <ol><h3>    {{l[1]}}</h3></ol>
                  <hr>
          {%endfor%}
      </ul>
      <h2>Everyday/Home List</h2>
      <ul>
          {%for l in links[1]%}
                  <li><a href="{{l[2]}}" target="_blank">{{l[0]}}</a></li>
                  <img src="{{l[3]}}">
                  <ol><h3>    {{l[1]}}</h3></ol>
                  <hr>
          {%endfor%}
      </ul>
      <h2>Office List</h2>
      <ul>
          {%for l in links[2]%}
                  <li><a href="{{l[2]}}" target="_blank">{{l[0]}}</a></li>
                  <img src="{{l[3]}}">
                  <ol><h3>    {{l[1]}}</h3></ol>
                  <hr>
          {%endfor%}
      </ul> -->

      <ul>
         {%for l in links%}
            {%for c in l%}
                  <div class="box">                  
                  <img src="{{c[3]}}">
                  <ol><h3>{{c[1]}}</h3></ol>
                  <li><a href="{{c[2]}}">{{c[0]}}</a></li>
                  </div>
            {%endfor%}
            <hr>
         {%endfor%}
      </ul>
   <!-- </article> -->
   <header><h1>WapInf</h1></header>
   <nav>
      <div class="menu">
         <span><a href="#" class="menuA">Home</a></span>
         <span><a href="#" class="menuA">Gaming Laptops</a></span>
         <span><a href="#" class="menuA">Everyday/Home Laptops</a></span>   
         <span><a href="#" class="menuA">Office Laptops</a></span>   
      </div>
   </nav>
   <footer>Footer</footer>
</body>
</html>