<!DOCTYPE html>
<html lang="bg-BG">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>LapInf</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
   <article>
      <h2 id="gamingListSel">Gaming List</h2>
      <ul>
          {%for l in links[0]%}
          <div class="box">                  
            <img src="{{l[3]}}">
            <li><a href="{{l[2]}}" class="names">{{l[0]}}</a></li>
            <ol><h3>{{l[1]}}</h3></ol>
         </div>
          {%endfor%}
      </ul>
      <h2 id="homeListSel">Everyday/Home List</h2>
      <ul>
          {%for l in links[1]%}
          <div class="box">                  
            <img src="{{l[3]}}">
            <li><a href="{{l[2]}}" class="names">{{l[0]}}</a></li>
            <ol><h3>{{l[1]}}</h3></ol>
         </div>
          {%endfor%}
      </ul>
      <h2 id="officeListSel">Office List</h2>
      <ul>
          {%for l in links[2]%}
          <div class="box">                  
            <img src="{{l[3]}}">
            <li><a href="{{l[2]}}" class="names">{{l[0]}}</a></li>
            <ol><h3>{{l[1]}}</h3></ol>
         </div>
          {%endfor%}
      </ul>

      <!-- <ul>
         {%for l in links%}
            {%for c in l%}
                  <div class="box">                  
                     <img src="{{c[3]}}">
                     <li><a href="{{c[2]}}" class="names">{{c[0]}}</a></li>
                     <ol><h3>{{c[1]}}</h3></ol>
                  </div>
            {%endfor%}
            <hr>
         {%endfor%}
      </ul> -->
   </article>
   <header>
      <br>
      <br>
      <h1 id="homeSel">LapInf</h1>
   </header>
   <nav>
      <div class="menu">
         <span><a href="#homeSel" class="menuA">Home</a></span>
         <span><a href="#gamingListSel" class="menuA">Gaming Laptops</a></span>
         <span><a href="#homeListSel" class="menuA">Everyday/Home Laptops</a></span>   
         <span><a href="#officeListSel" class="menuA">Office Laptops</a></span>   
      </div>
   </nav>
</body>
</html>