body {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px 30px auto 30px;
    grid-template-areas: "header header"
                         "menu menu"
                         "sidebar content"
                         "footer footer";
    margin: 2rem;
    font-family: 'Oswald', sans-serif;
  }
  h1, a, aside {
    margin: 1.5rem;
    text-align: center;
  }
  
  a {
    text-decoration: black;
  }
  header {
    grid-area: header;
    background-color: grey;
    vertical-align: center;
  }
  nav {
    grid-area: menu;
    background-color: silver;
    text-align: right;
    
  }
  aside {
    grid-area: sidebar;
    background-color: cyan;
  }
  article {
    grid-area: content;
    background-color: white;
  }
  footer {
    grid-area: footer;
    background-color: lightblue;
    text-align: center;
  }
  @media screen and (max-width: 680px) {
    body {
       grid-template-rows: 100px 30px auto auto 30px;
       grid-template-columns: 100%;
       grid-template-areas: "header"
                            "menu"
                            "content"
                            "sidebar"
                            "footer";
    }
  }
  
  .menu
  {
    position:sticky;
    top:-50px;
    
    /* width:100vw; */
    padding:20px;
    text-align:center;
    
    background-color:rgba(0,0,0,0.9);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    
    font-size:20px;
    color:black;
    
    float: inherit;
  
    /* transition */
    
    transition:top 1s;
    -webkit-transition:top 1s;
    
  }

  .box {
    max-width: 350px;
    padding: auto;
    margin: auto;
  }

  img, li {
    max-width: 250px;
  }